<h1>Главная страница</h1>


<% if current_customer %>
	<%= link_to "Выйти", destroy_customer_session_path, method: :delete %>
	<%= link_to "Редактировать профиль", edit_customer_registration_path %>
<% else %>
	<%= link_to "Регистрация пользователя", new_customer_registration_path  %>
	<%= link_to "Войти", new_customer_session_path  %>
<% end %>
